* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #050E3C;
  color: #fff;
}

.heading {
  text-align: center;
  margin-block: 50px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 5%;
}

.form-content {
  width: 30%;
}

.expense-table {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.expense-table {
  border-collapse: collapse;
  align-self: flex-start;
  flex-shrink: 0;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

input {
  display: block;
  outline: none;
  padding: 5px;
  width: 100%;
  font: inherit;
  color: inherit;
  border: 1px solid #fff;
  background-color: #002455;
}

/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
} */

#category {
  width: 100%;
  font: inherit;
  padding: 5px;
  background-color: #002455;
  color: inherit;
  border: 1px solid #fff;
}

option {
  background-color: #002455;
  color: white;
}

.add-btn {
  width: 100%;
  padding-block: 5px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

th,
td {
  border: 1px solid #fff;
  text-align: left;
  padding: 5px;
}

#select-category {
  font: inherit;
  color: inherit;
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.amount-box {
  display: flex;
  justify-content: space-between;
}

i {
  color: #fff;
}

.up,
.down {
  border: none;
  background: none;
  cursor: pointer;
  margin-inline: 3px;
}

.up:active {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}

.down:active {
  transform: translateY(5px);
  transition: transform 0.2s ease-in-out;
}

.context-menu {
  border: 2px solid #000;
  border-radius: 5px;
  overflow: hidden;
  /* display: none; */
  position: absolute;
  background-color: #fff;
  color: #000;
}

.context-menu div {
  cursor: pointer;
  padding: 5px;
  font-weight: 500;
}

.context-menu div:hover {
  background-color: #cecece;
}

.error {
  color: #ff0000;
  font-size: 12px;
  position: absolute;
  top: 100%;
}

.clear-sort {
  cursor: pointer;
}

@media screen and (min-width: 100px) and (max-width: 800px) {
  .content {
    flex-direction: column;
    gap: 30px;
  }

  .expense-table,
  .form-content {
    width: 100%;
    min-width: 450px;
  }
}